body {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
}

.pb-5 {
    padding-bottom: 3rem !important;
}

.site-wrapper {
    max-width: 1200px;
    margin: auto;
}

.text-grey {
    color: #818181 !important;
}

.text-black {
    color: #000000 !important;
}

.ms-md-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    margin-left: 2rem !important;
}

.cont {
    padding: 1rem 2rem 1rem 2rem;
}


.item-active {
    color: #7600ff !important;
}

.nav .nav-underline {
    color: #818181 !important;
}

.nav a {
    color: #818181;
}

.nav a:hover {
    color: #7600ff;
}

.nav-link a:hover {
    color: #7600ff !important;
}

.tag {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 35px;
    border: 1px solid #eee;
}

.tag a {
    color: #7600ff !important;
}

.tag .tag-subs {
    color: #ffffff !important;
    border-radius: 7px;
    background: linear-gradient(10deg, #8524b6, #c055ff);
    margin-bottom: 15px;

}

.tag .tag-subs:hover {
    background: linear-gradient(50deg, #5a1a7a, #6f1c9d)
}

.create-post {
    color: #ffffff;
    background: linear-gradient(10deg, #8524b6, #c055ff);
}

.create-btn {
    color: #ffffff;
    background: linear-gradient(10deg, #8524b6, #c055ff);
}

.text-center {
    text-align: center !important;
}

.invalid-feedback {
    display: block !important;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 1rem;
    color: red !important;
    font-weight: 400 !important;
}

.fs-3 {
    font-size: 1.2rem !important;
}

.pb-5 {
    padding-bottom: 3rem !important;
}

.profile-img {
    margin-left: 20px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    height: 40px;
}

.creator-img {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.post-cover {
    width: 760px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 15px;
}

.read-post-btn {
    color: #ffffff;
    background: linear-gradient(10deg, #8524b6, #c055ff);
}

.post-title {
    color: #000 !important;
    text-decoration: none;
}

.post-title:hover {
    color: #7600ff !important;
    text-decoration: none;
}

.post-cover {
    padding: 0.3rem;
    width: 750px;
    border-radius: 15px;
    background: linear-gradient(to right, #2049bd, #C055FFFF);
}

.post-views, .post-likes {
    color: #7600ff !important;
}

.like-post a {
    color: #000;
    text-decoration: none;
}

.liked .bi:before {
    color: red;
}

.add-comment-btn {
    color: #ffffff;
    background: linear-gradient(10deg, #8524b6, #c055ff);
}

.writer-info {
    margin-left: 15px;
    margin-top: 15px
}