{% load static %}
<div class="site-menu" style="background-color: #0b1c50; margin-top: -9px">
    <div class="navbar mt-2">
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="nav-brand-text text-white bold-text" style="margin-left: 130px">
                    Code Sphere
                </span>
                <img src="{% static 'img/Tech-sphere.png' %}" alt="Tech Sphere logo" width="40" height="40">
            </div>
            <ul class="nav justify-content-end" style="margin-right: 130px">
                <li class="nav-item">
                    <a href="" class="nav-link text-white fw-bold fs-6">About us</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-white fw-bold fs-6">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-white fw-bold fs-6">Sign in</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-white fw-bold fs-6">Sign up</a>
                </li>
            </ul>
        </div>
    </div>
</div>