{% load static %}
<div class="menu">
    <div class="navbar mt-2">
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="nav-brand-text bold-text">Code Sphere</span>
                <img src="{% static 'img/Tech-sphere.png' %}" alt="Tech Sphere logo" width="40" height="40">
            </div>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a href="" class="nav-link text-white fw-bold fs-6">About us</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-white fw-bold fs-6">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link  text-white fw-bold fs-6">Sign in</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-white fw-bold fs-6">Sign up</a>
                </li>
            </ul>
        </div>
    </div>
</div>