{% extends 'site-base.html' %}
{% load static %}

{% block title %}
    CodeSphere - Sign Up
{% endblock %}

{% block top-site-nav %}
    {% include 'inc/top-site-nav.html' %}
{% endblock %}

{% block site-content %}
    <div class="row">

        <div class="col-9 main-content" style="max-width: 880px; margin-right: 16px">

            {% if token_error %}
                <div class="col-md-12" style="background-color: #fff">
                    <div class="cont-name ms-md-4">
                        <h1 style="color: red">Token error</h1>
                        <h5 class="token-error" style="color: red; margin-top: 30px">{{ token_error }}</h5>

                    </div>

                </div>

            {% else %}

                <div class="col-md-12" style="background-color: #fff">
                    <div class="cont-name ms-md-4">
                        <h3>Sign Up</h3>

                    </div>

                </div>


                <div class="cont" style="background-color: #fff; margin-top: 15px">

                    <div class="row">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}


                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="E-mail" required=""
                                       id="id_email" readonly style="display: none" value="{{ email }}">
                                <div class="invalid-feedback">
                                    {{ form.email.errors }}
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 30px">
                                <div class="label" style="margin-bottom: 10px">
                                    <h5>{{ form.password1.label }}</h5>
                                </div>
                                {{ form.password1 }}
                                <div class="invalid-feedback">
                                    {{ form.password1.errors }}
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 30px">
                                <div class="label" style="margin-bottom: 10px">
                                    <h5>{{ form.password2.label }}</h5>
                                </div>
                                {{ form.password2 }}
                                <div class="invalid-feedback">
                                    {{ form.password2.errors }}
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success rounded-pill"
                                    style="width: 30%;">Sign Up
                            </button>
                        </form>
                    </div>


                </div>
            {% endif %}
        </div>


    </div>
{% endblock %}