{% extends 'site-base.html' %}
{% load static %}

{% block top-site-nav %}
    {% include 'inc/top-site-nav.html' %}
{% endblock %}

{% block site-nav %}
    <div class="site-menu">
        <div class="navbar mt-2">
            <div class="container-fluid" style="max-width: 1096px;
         margin: auto;">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">Q/A</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">News</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">Career</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">Recommended webinars</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6 item-active">Tags</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block site-content %}
    <div class="row">

        <div class="col-9 main-content" style="max-width: 880px; margin-right: 16px">

            <div class="col-md-12" style="background-color: #fff">
                <div class="cont-name ms-md-4">
                    <h3>Tags</h3>

                </div>

                <div class="cont-page-menu ms-md-4">

                    <ul class="nav nav-underline">
                        <li class="nav-item" style="color: #818181 !important">
                            <a class="nav-link fw-bold" aria-current="page" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold">Disabled</a>
                        </li>
                    </ul>

                </div>

            </div>

            <div class="cont" style="background-color: #fff; margin-top: 15px">

                <div class="row">
                    {% for tag in tags %}
                        <div class="col-md-3 tag">
                            {% if tag.icon %}
                                <img src="{{ tag.icon.url }}" alt="{{ tag.name }} icon" width="50">
                            {% endif %}
                            <p class="tag-name fw-bold" style="padding-top: 10px">{{ tag.name }}</p>
                            <p class="tag-quests fw-bold"
                               style="padding-top: 10px;
                                border-top: 1px solid #eee">
                                <a href="">Questions: 5673</a></p>
                            <a href="{% url 'tag-subscribe' tag.id %}" class="tag-subs fw-bold btn btn">Subscribe
                                | {{ tag.tag_subs.count }}</a>
                        </div>
                    {% endfor %}
                </div>


            </div>
        </div>

        <div class="col-3 cont-sidebar" style="background-color: #fff">

        </div>


    </div>
{% endblock %}