{% extends 'site-base.html' %}
{% load static %}

{% block title %}
    All posts
{% endblock %}

{% block top-site-nav %}
    {% include 'inc/top-site-nav.html' %}
{% endblock %}

{% block site-nav %}
    <div class="site-menu">
        <div class="navbar mt-2">
            <div class="container-fluid" style="max-width: 1096px;
         margin: auto;">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6 item-active">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">Q/A</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">News</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">Career</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">Recommended webinars</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'all-tags' %}" class="nav-link fw-bold fs-6">Tags</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block site-content %}
    <div class="row">

        <div class="col-9 main-content" style="max-width: 880px; margin-right: 16px">

            <div class="col-md-12" style="background-color: #fff">
                <div class="cont-name ms-md-4">
                    <div class="row">
                        <div class="col-md-2">
                            <h3>All Posts</h3>
                        </div>
                        <div class="col-md-10">
                            <a href="{% url 'create-post' %}" class="fw-bold btn create-post">Create post <i
                                    class="bi bi-pencil-square"></i> </a>
                        </div>

                    </div>


                </div>

                <div class="cont-page-menu ms-md-4">

                    <ul class="nav nav-underline">
                        <li class="nav-item" style="color: #818181 !important">
                            <a class="nav-link fw-bold item-active" aria-current="page" href="#">All posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#">Most popular posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#">Liked posts</a>
                        </li>
                    </ul>

                </div>

            </div>

            <div class="cont" style="background-color: #fff; margin-top: 15px">

                <div class="row">
                    <!--Here will be posts main content-->
                    {% for post in posts %}
                        <div class="card" style="margin-bottom: 100px">
                            <div class="row user-info">
                                <div class="user-img mt-3">
                                    {% if post.creator.avatar %}
                                        <img src="{{ post.creator.avatar.url }}" alt="Creator img" class="creator-img">
                                    {% else %}
                                        <img src="{% static 'img/profile/default_profile_img.png' %}" alt="" width="30"
                                             class="creator-img">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ post.get_absolute_url }}" class="post-title">
                                        {{ post.title }}
                                    </a>
                                </h5>
                                <p class="short-description">{{ post.short_description }}</p>
                                <div class="row">
                                    {% for tag in post.tags.all %}
                                        <div class="col-md-2">
                                            <div class="row">
                                                <div class="content" style="text-align: center; display: flex">
                                                    <img src="{{ tag.icon.url }}" alt=""
                                                         style="width: 20px; height: 20px">
                                                    <p style="font-weight: bold; padding-left: 10px">{{ tag.name }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="post-plus-info" style="display: flex; align-items: center">
                                    <p class="post-views fw-bold"><i class="bi bi-eye"></i>
                                        {{ post.post_views }}
                                    </p>
                                    <p class="post-likes fw-bold" style="margin-left: 20px"><i class="bi bi-heart"></i>
                                        {{ post.post_likes.count }}
                                    </p>
                                </div>
                                <img src="{{ post.cover_photo.url }}" alt="" class="post-cover">
                                <a href="{{ post.get_absolute_url }}" class="btn fw-bold read-post-btn">Read post</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>


            </div>
        </div>

        <div class="col-3 cont-sidebar" style="background-color: #fff">

        </div>


    </div>

{% endblock %}