{% extends 'create_post_base.html' %}
{% load static %}

{% block title %}
    All posts
{% endblock %}

{% block top-site-nav %}
    {% include 'inc/top-site-nav.html' %}
{% endblock %}

{% block site-nav %}
    <div class="site-menu">
        <div class="navbar mt-2">
            <div class="container-fluid" style="max-width: 1096px;
         margin: auto;">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="{% url 'all-posts' %}" class="nav-link fw-bold fs-6 item-active">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">Q/A</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">News</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">Career</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">Recommended webinars</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'all-tags' %}" class="nav-link fw-bold fs-6">Tags</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block site-content %}
    <div class="row">

        <div class="col-9 main-content" style="max-width: 880px; margin-right: 16px">

            <div class="col-md-12" style="background-color: #fff">
                <div class="cont-name ms-md-4">
                    <div class="row">
                        <h3>Create post</h3>

                    </div>


                </div>


            </div>

            <div class="cont" style="background-color: #fff; margin-top: 15px">

                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}

                    <button type="submit" class="btn fw-bold create-btn">Send to moderation</button>
                </form>


            </div>
        </div>

        <div class="col-3 cont-sidebar" style="background-color: #fff">

        </div>


    </div>
{% endblock %}