{% extends 'site-content-base.html' %}
{% load static %}
{% load comments_extras %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block top-site-nav %}
    {% include 'inc/top-site-nav.html' %}
{% endblock %}

{% block site-nav %}
    <div class="site-menu">
        <div class="navbar mt-2">
            <div class="container-fluid" style="max-width: 1096px;
         margin: auto;">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="{% url 'all-posts' %}" class="nav-link fw-bold fs-6 item-active">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">Q/A</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">News</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">Career</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link fw-bold fs-6">Recommended webinars</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'all-tags' %}" class="nav-link fw-bold fs-6">Tags</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block site-content %}
    <div class="row">

        <div class="col-9 main-content" style="max-width: 880px; margin-right: 16px">
            <div class="cont" style="background-color: #fff; margin-top: 15px">

                <div class="row">
                    <!--Here will be posts main content-->
                    <div class="card" style="margin-bottom: 100px; border: none">
                        <div class="row user-info">
                            <div class="user-img mt-3">
                                {% if post.creator.avatar %}
                                    <img src="{{ post.creator.avatar.url }}" alt="Creator img" class="creator-img">
                                {% else %}
                                    <img src="{% static 'img/profile/default_profile_img.png' %}" alt="" width="30"
                                         class="creator-img">
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-title" style="padding: 20px;
                             font-size: 2.5rem; line-height: 1.2; font-weight: bold">{{ post.title }}</p>
                            <div id="content_{{ post.id }}" style="border-top: 1px solid #e5e5e5">
                                <textarea class="post-body">{{ post.text }}</textarea>
                            </div>
                            {% if user_like %}
                                <div class="like-post liked">
                                    <a href="{% url 'like_post' post.id %}"><i class="bi bi-heart"></i>
                                        <p>{{ post.post_likes.count }}</p></a>
                                </div>
                            {% else %}
                                <div class="like-post">
                                    <a href="{% url 'like_post' post.id %}"><i class="bi bi-heart"></i>
                                        <p>{{ post.post_likes.count }}</p></a>
                                </div>
                            {% endif %}
                        </div>
                        <hr>
                        <h5 class="comments">Comments</h5>
                        <div class="post-comment">
                            <form action="{% url 'add_comment' post.id %}" method="post" style="width: 85%">
                                {% csrf_token %}
                                {{ comment_form.media }}
                                {{ comment_form.as_p }}
                                {% if request.user.is_authenticated %}
                                    <button type="submit" class="btn fw-bold add-comment-btn">Add comment</button>
                                {% else %}
                                    <button class="btn fw-bold add-comment-btn" data-bs-toggle="modal"
                                            data-bs-target="#SignUpEmailModal">
                                        Add comment
                                    </button>
                                {% endif %}
                            </form>

                            <div class="all-comments" style="margin-top: 50px">
                                {% for comment in comments %}
                                    <div class="writer-info-get" style="display: flex; align-items: center">

                                        <div class="writer-avatar">
                                            {% if comment.user.avatar %}
                                                <img src="{{ comment.user.avatar }}" alt="" width="30"
                                                     class="writer">
                                            {% else %}
                                                <img src="{% static 'img/profile/default_profile_img.png' %}" alt=""
                                                     width="30"
                                                     class="writer">
                                            {% endif %}
                                        </div>

                                        <p class="writer-info username fw-bold">{{ comment.user.user.username }}</p>
                                        <p class="writer-info timesince"
                                           style="font-size: 0.8rem; margin-top: 17px; color: #777; margin-left: 9px">
                                            {{ comment.date|timesince }} ago
                                        </p>

                                    </div>

                                    <div id="content_{{ comment.id }}15" style="border-top: 1px solid #e5e5e5">
                                        <textarea class="comment-body">{{ comment.text }}</textarea>
                                    </div>
                                    <style>
                                        .comment img {
                                            max-width: 100%;
                                        }
                                    </style>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-3 cont-sidebar" style="background-color: #fff">

        </div>


    </div>

{% endblock %}